<div class="form-container white-form">
  <div class="form">
    <form>
      <app-custom-form-generator
        [forms]="m_formArrayWithDescriptions"
        class="form-component"
      ></app-custom-form-generator>
    </form>
  </div>
</div>

<app-form-footer
  [formFooterTitle]="'Шаг 2'"
  [formFooterSubtitle]="'Специальность'"
  [secondaryButtonText]="'Назад'"
  [secondaryButtonRouterLink]="['/registration', 'fill-account-information', 'general-information']"
  [primaryButtonText]="'Начать работу'"
></app-form-footer>
