<div class="form-container white-form">
  <div class="outer-form">
    <div class="inner-form">
      <app-custom-form-generator
        [forms]="m_formArrayWithDescriptions"
        class="form-component"
      ></app-custom-form-generator>
    </div>
  </div>
</div>
<app-form-footer
  [formFooterTitle]="'Шаг 1'"
  [formFooterSubtitle]="'Основная информация'"
  [primaryButtonText]="'Далее'"
  [primaryButtonRouterLink]="[
    '/registration',
    'fill-account-information',
    'job-information'
  ]"
></app-form-footer>
