main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;

  width: 100vw;
  height: 100vh;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  overflow: hidden;

  background-color: #E9D7FE;

  .sunpath,
  .compas,
  .compas-shadow {
    position: absolute;

    width: auto;
    height: auto;
  }

  .sunpath {
    top: -102px;
    right: 79px;
    left: 84px;
    bottom: 279px;

    z-index: -3;
  }

  .compas {
    top: 466px;
    right: 263px;
    bottom: 230px;
    left: 900px;

    z-index: -1;
  }

  .compas-shadow {
    top: 614px;
    right: 254px;
    bottom: 20px;
    left: 896px;

    z-index: -2;
  }

  z-index: -100;
}

form {
  display: flex;

  width: 440px;
  height: 640px;
  padding: 32px;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  border-radius: 12px;
  background-color: white;
}
