@import 'typography';
@import 'effects/shadows';

input {
  display: flex;
  height: 40px;
  padding: 8px 12px;

  align-self: stretch;
  flex-grow: 1;

  border-radius: 8px;
  border: none;

  background: var(--Gray-100, #f2f4f7);

  @include font-body-2-medium;

  outline: none;
}

input.error {
  border: 1px solid var(--Red-400, #f97066) !important;
}

input.with-icon {
  padding-left: 36px;
  margin-left: -16px;
  width: calc(100% + 16px);
}

.icon {
  width: 16px;
  height: 16px;

  position: relative;
  top: 12px;
  left: 12px;

  z-index: 110;
}

input:hover {
  @include shadow-xs;
}

input:active,
input:focus {
  border: 1px solid #d6bbfb;
  background: var(--White, #ffffff);

  @include shadow-xs;
}
