@import "typography";

div.section-title {
  display: flex;
  width: 180px;
  padding: 4px 0;

  span {
    @include font-uppercase-semibold;
  }
}

main {
  display: flex;
  flex: 1;
  width: 100%;
}
