<app-modal
  [modalInformation]="{
    title: 'Заработная плата',
    iconSrc: 'assets/svg/research-modal/compass\.svg'
  }"
  [menyValues]="{
    'my-possibility': {
      title: 'Моя вероятность',
      iconSrc: 'assets/svg/research-modal/my-possibility\.svg',
      templateValue: m_myPossibilityTemplate
    },
    'all-specialists': {
      title: 'Все It-специалисты',
      iconSrc: 'assets/svg/research-modal/all-specialists\.svg',
      templateValue: m_allSpecialistsTemplate
    }
  }"
>
</app-modal>

<ng-template #m_myPossibilityTemplate>
  <main>
    <div class="content">
      <img src="assets/svg/research-modal/compass.svg" alt="icon" />
      <div class="ellipse"></div>
      <div class="ellipse"></div>
      <div class="ellipse"></div>
      <div class="ellipse"></div>
      <div class="ellipse"></div>
      <div class="controls">
        <div class="texts">
          <h2 class="title">Узнайте свою заработную плату</h2>
          <span class="support"
            >Получите примерный расчет своей заработной платы на основе различных факторов, таких
            как опыт работы, образование и рыночные тренды.</span
          >
        </div>
        <app-button
          [button]="{
            text: 'Рассчитать ЗП',
            class: ['btn', 'btn-primary']
          }"
        ></app-button>
      </div>
    </div>
  </main>
</ng-template>
<ng-template #m_allSpecialistsTemplate>
  <p>all specialists section</p>
</ng-template>
