<app-modal
  [modalInformation]="{
    title: 'Заработная плата',
    iconSrc: 'assets/svg/research-modal/compass\.svg'
  }"
  [menyValues]="{
    'my-possibility': {
      title: 'Моя вероятность',
      iconSrc: 'assets/svg/research-modal/my-possibility\.svg',
      templateValue: m_myPossibilityTemplate
    },
    'all-specialists': {
      title: 'Все It-специалисты',
      iconSrc: 'assets/svg/research-modal/all-specialists\.svg',
      templateValue: m_allSpecialistsTemplate
    }
  }"
  (modalHide)="m_researchModalHide()"
>
</app-modal>

<ng-template #m_myPossibilityTemplate>
  <main class="my-possibility">
    <app-my-possibility></app-my-possibility>
  </main>
</ng-template>

<ng-template #m_allSpecialistsTemplate>
  <main class="all-specialists">
    <div class="search-block">
      <app-input class="input-container" [inputContent]="m_searchInput"></app-input>
    </div>
    <div class="speciality-list">
      @for (speciality of m_specialities; track $index) {
        <hr *ngIf="$index !== 0" />
        <app-speciality-item
          class="speciality"
          currency="₽"
          [name]="speciality.name"
          [mostPossible]="speciality.mostPossible"
          [topPossible]="speciality.topPossible"
        ></app-speciality-item>
      }
    </div>
  </main>
</ng-template>
