<app-modal
  [modalInformation]="{
    title: 'Заработная плата',
    iconSrc: 'assets/svg/research-modal/compass\.svg'
  }"
  [menyValues]="{
    'my-possibility': {
      title: 'Моя вероятность',
      iconSrc: 'assets/svg/research-modal/my-possibility\.svg',
      templateValue: m_myPossibilityTemplate
    },
    'all-specialists': {
      title: 'Все It-специалисты',
      iconSrc: 'assets/svg/research-modal/all-specialists\.svg',
      templateValue: m_allSpecialistsTemplate
    }
  }"
>
</app-modal>

<ng-template #m_myPossibilityTemplate>
  <p>it's a possibility section</p>
</ng-template>
<ng-template #m_allSpecialistsTemplate>
  <p>all specialists section</p>
</ng-template>
