main.my-possibility {
  display: flex;

  flex-direction: column;
  align-self: stretch;
  flex-grow: 1;

  padding: 35px 45px;

  * {
    flex-grow: 1;
  }
}

main.all-specialists {
  display: flex;

  flex-grow: 1;
  flex-direction: column;

  height: 100%;

  .search-block {
    display: flex;

    padding: 16px 24px 16px 24px;
    align-self: stretch;

    .input-container {
      display: flex;
      flex-grow: 1;
    }
  }

  .speciality-list {
    display: flex;
    flex-direction: column;

    padding: 0 24px 16px 24px;
    align-self: stretch;
    align-items: stretch;

    gap: 8px;

    height: 100%;
    overflow-y: scroll;

    hr {
      flex-grow: 1;
      margin: 0;
      border: 1px solid var(--Gray-200, #EAECF0);
    }
  }
}
