@import 'typography';

$content-size: 550px;

main.my-possibility {
  display: flex;

  flex-direction: column;
  align-self: stretch;
  flex-grow: 1;

  padding: 35px 45px;

  .content {
    $ellipse-start-size: 150px;
    $ellipse-step: 100px;
    width: $content-size;
    height: $content-size;

    img {
      width: 46px;
      height: 46px;

      position: relative;
      top: calc($content-size / 2) - calc(46px / 2);
      left: calc($content-size / 2) - calc(46px / 2);

      padding: 4px;

      background: var(--Gray-100, #f2f4f7);

      border: 6px solid var(--Gray-50, #f9fafb);
      border-radius: 50%;
    }

    .ellipse {
      border-radius: 50%;
      border: 1px var(--Gray-200, #eaecf0);
      border-style: dashed;

      position: relative;
    }

    .ellipse:nth-child(-6n + 8) {
      width: $ellipse-start-size;
      height: $ellipse-start-size;
      top: calc($content-size / 2) - calc($ellipse-start-size / 2) - 53.5px;
      left: calc($content-size / 2) - calc($ellipse-start-size / 2);
    }
    .ellipse:nth-child(-6n + 9) {
      width: $ellipse-start-size + $ellipse-step;
      height: $ellipse-start-size + $ellipse-step;
      top: calc($content-size / 2) - calc(($ellipse-step + 3 * $ellipse-start-size) / 2) - 53.5px;
      left: calc($content-size / 2) - calc(($ellipse-start-size + $ellipse-step) / 2);
    }
    .ellipse:nth-child(-6n + 10) {
      width: $ellipse-start-size + ($ellipse-step * 2);
      height: $ellipse-start-size + ($ellipse-step * 2);
      top: calc($content-size / 2) - calc((($ellipse-step * 7) + 3 * $ellipse-start-size) / 2) -
        53.5px;
      left: calc($content-size / 2) - calc(($ellipse-start-size + ($ellipse-step * 2)) / 2);
    }
    .ellipse:nth-child(-6n + 11) {
      width: $ellipse-start-size + ($ellipse-step * 3);
      height: $ellipse-start-size + ($ellipse-step * 3);
      top: calc($content-size / 2) - calc((($ellipse-step * 15) + 3 * $ellipse-start-size) / 2) -
        53.5px;
      left: calc($content-size / 2) - calc(($ellipse-start-size + ($ellipse-step * 3)) / 2);
    }
    .ellipse:nth-child(-6n + 12) {
      width: $ellipse-start-size + ($ellipse-step * 4);
      height: $ellipse-start-size + ($ellipse-step * 4);
      top: calc($content-size / 2) - calc((($ellipse-step * 25) + 3 * $ellipse-start-size) / 2) -
        53.5px;
      left: calc($content-size / 2) - calc(($ellipse-start-size + ($ellipse-step * 4)) / 2);
    }

    .controls {
      position: relative;
      display: flex;

      flex-direction: column;
      align-items: center;
      gap: 24px;

      width: 544px;

      top: calc($content-size / 5) - 1589.5px;
      left: calc($content-size / 2) - 272px;

      .texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        .title {
          margin: 0;

          color: var(--Gray-900, #101828);

          @include font-body-1-semibold;
        }

        .support {
          text-align: center;
          color: var(--Gray-500, #667085);

          @include font-small-regular;
        }
      }
    }
  }
}

main.all-specialists {
  display: flex;

  flex-grow: 1;
  flex-direction: column;

  .search-block {
    display: flex;

    padding: 16px 24px 16px 24px;
    align-self: stretch;

    .input-container {
      display: flex;
      flex-grow: 1;
    }
  }
}
