main.my-possibility {
  display: flex;

  flex-direction: column;
  align-self: stretch;
  flex-grow: 1;

  padding: 35px 45px;
}

main.all-specialists {
  display: flex;

  flex-grow: 1;
  flex-direction: column;

  .search-block {
    display: flex;

    padding: 16px 24px 16px 24px;
    align-self: stretch;

    .input-container {
      display: flex;
      flex-grow: 1;
    }
  }
}
