@import "typography";

span {
  color: var(--Gray-500, #667085);
  
  @include font-body-1-condensed-regular;

  a {
    text-decoration: none;
    color: var(--Blue-700, #175cd3);

    @include font-body-1-condensed-medium;
  }
}
