<app-modal
  [modalInformation]="{
    title: 'Резюме',
    iconSrc: 'assets/svg/edit-modal/resume\.svg'
  }"
  [menyValues]="{
    'links': {
      title: 'Ссылки',
      iconSrc: 'assets/svg/edit-modal/links\.svg',
      templateValue: linksTemplate,
    },
    'about': {
      title: 'О себе',
      iconSrc: 'assets/svg/edit-modal/about\.svg',
      templateValue: aboutTemplate,
    },
    'employmentType': {
      title: 'Тип занятности',
      iconSrc: 'assets/svg/edit-modal/employment\.svg',
      templateValue: employmentTypeTemplate,
    },
    'skills': {
      title: 'Навыки',
      iconSrc: 'assets/svg/edit-modal/skills\.svg',
      templateValue: skillsTemplate,
    },
    'expectedIncome': {
      title: 'Ожидаемый доход',
      iconSrc: 'assets/svg/edit-modal/salary\.svg',
      templateValue: expectedIncomeTemplate,
    },
    'workExperience': {
      title: 'Опыт работы',
      iconSrc: 'assets/svg/edit-modal/experience\.svg',
      templateValue: workExperienceTemplate,
    },
    'projects': {
      title: 'Проекты',
      iconSrc: 'assets/svg/edit-modal/projects\.svg',
      templateValue: projectsTemplate,
    },
    'educations': {
      title: 'Образование',
      iconSrc: 'assets/svg/edit-modal/education\.svg',
      templateValue: educationsTemplate,
    },
    'rewards': {
      title: 'Достижения',
      iconSrc: 'assets/svg/edit-modal/rewards\.svg',
      templateValue: rewardsTemplate,
    },
    'certificates': {
      title: 'Сертификаты',
      iconSrc: 'assets/svg/edit-modal/certificates\.svg',
      templateValue: certificatesTemplate,
    },
    'recomendations': {
      title: 'Рекомендации',
      iconSrc: 'assets/svg/edit-modal/recomendations\.svg',
      templateValue: recomendationsTemplate,
    },
    'languages': {
      title: 'Иностранные языки',
      iconSrc: 'assets/svg/edit-modal/languages\.svg',
      templateValue: languagesTemplate,
    },
  }"
  (modalHide)="m_editModalHide()"
>
</app-modal>

<ng-template #linksTemplate>
</ng-template>

<ng-template #aboutTemplate>
</ng-template>

<ng-template #employmentTypeTemplate>
</ng-template>

<ng-template #skillsTemplate>
</ng-template>

<ng-template #expectedIncomeTemplate>
</ng-template>

<ng-template #workExperienceTemplate>
</ng-template>

<ng-template #projectsTemplate>
</ng-template>

<ng-template #educationsTemplate>
</ng-template>

<ng-template #rewardsTemplate>
</ng-template>

<ng-template #certificatesTemplate>
</ng-template>

<ng-template #recomendationsTemplate>
</ng-template>

<ng-template #languagesTemplate>
</ng-template>
