@for (item of forms.iterableItems; track $index) {
  @if (item | isFormInputWithLabel) {
    <app-input-with-label
      [inputWithLabel]="item"
      class="input-with-label"
      [ngClass]="forms.formsStyle"
    ></app-input-with-label>
  } @else if (item | isFormButton) {
    <app-button
      [button]="item"
      class="button-container"
      [ngClass]="forms.formsStyle"
    ></app-button>
  } @else if (item | isFormText) {
    <app-text
      [text]="item"
      class="text-container"
      [ngClass]="forms.formsStyle"
    ></app-text>
  } @else if (item | isFormTextWithLink) {
    <app-text-with-link
      [textWithLink]="item"
      class="text-with-link-container"
      [ngClass]="forms.formsStyle"
    ></app-text-with-link>
  }
}
