<app-cv-block-appearence title="Проекты" class="cv-block" [ngClass]="size()">
  <div class="projects" [ngClass]="size()">
    @for (project of projects(); track $index) {
      <div class="project">
        <div class="head">
          <span class="title">{{ project.title }}</span>
          <span class="description">{{ project.description }}</span>
        </div>

        <app-badge color="gray"
          >{{ project.startDate }} - {{ project.endDate || 'Настоящее время' }}</app-badge
        >
      </div>
    }
  </div>
</app-cv-block-appearence>
