@import 'constants';

div.outer-form {
  display: flex;

  flex-direction: column;
  align-items: center;
  gap: $form-gap;
  align-self: stretch;

  height: 100%;

  div.inner-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $form-gap / 2;
    align-self: stretch;

    height: 100%;
    
    .form-component {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $form-gap / 2;
      align-self: stretch;

      height: 100%;
      
      overflow: hidden;
    }
  }
}
