@mixin font-h-1-regular {
  // H 1/Regular //
  font-family: 'Inter';
  font-weight: 400;
  font-size: 72px;
  /* Recommend for responsive css clamp(mobile, mid, desktop) - 
    you can change 5vw value
     font-size:clamp(50px, 5vw, 72px); */
  line-height: 122.22%;
  text-decoration: none;
  letter-spacing: -2%;
}

@mixin font-h-1-medium {
  // H 1/Medium //
  font-family: 'Inter';
  font-weight: 500;
  font-size: 72px;
  /* Recommend for responsive css clamp(mobile, mid, desktop) - 
    you can change 5vw value
     font-size:clamp(50px, 5vw, 72px); */
  line-height: 122.22%;
  text-decoration: none;
  letter-spacing: -2%;
}

@mixin font-h-1-semibold {
  // H 1/Semibold //
  font-family: 'Inter';
  font-weight: 400;
  font-size: 72px;
  /* Recommend for responsive css clamp(mobile, mid, desktop) - 
    you can change 5vw value
     font-size:clamp(50px, 5vw, 72px); */
  line-height: 122.22%;
  text-decoration: none;
  letter-spacing: -2%;
}

@mixin font-h-1-bold {
  // H 1/Bold //
  font-family: 'Inter';
  font-weight: 700;
  font-size: 72px;
  /* Recommend for responsive css clamp(mobile, mid, desktop) - 
    you can change 5vw value
     font-size:clamp(50px, 5vw, 72px); */
  line-height: 122.22%;
  text-decoration: none;
  letter-spacing: -2%;
}

@mixin font-h-2-regular {
  // H 2/Regular //
  font-family: 'Inter';
  font-weight: 400;
  font-size: 56px;
  /* Recommend for responsive css clamp(mobile, mid, desktop) - 
    you can change 5vw value
     font-size:clamp(44.8px, 5vw, 56px); */
  line-height: 128.57%;
  text-decoration: none;
  letter-spacing: -2%;
}

@mixin font-h-2-medium {
  // H 2/Medium //
  font-family: 'Inter';
  font-weight: 500;
  font-size: 56px;
  /* Recommend for responsive css clamp(mobile, mid, desktop) - 
    you can change 5vw value
     font-size:clamp(44.8px, 5vw, 56px); */
  line-height: 128.57%;
  text-decoration: none;
  letter-spacing: -2%;
}

@mixin font-h-2-semibold {
  // H 2/Semibold //
  font-family: 'Inter';
  font-weight: 400;
  font-size: 56px;
  /* Recommend for responsive css clamp(mobile, mid, desktop) - 
    you can change 5vw value
     font-size:clamp(44.8px, 5vw, 56px); */
  line-height: 128.57%;
  text-decoration: none;
  letter-spacing: -2%;
}

@mixin font-h-2-bold {
  // H 2/Bold //
  font-family: 'Inter';
  font-weight: 700;
  font-size: 56px;
  /* Recommend for responsive css clamp(mobile, mid, desktop) - 
    you can change 5vw value
     font-size:clamp(44.8px, 5vw, 56px); */
  line-height: 128.57%;
  text-decoration: none;
  letter-spacing: -2%;
}

@mixin font-h-3-regular {
  // H 3/Regular //
  font-family: 'Inter';
  font-weight: 400;
  font-size: 48px;
  line-height: 116.67%;
  text-decoration: none;
  letter-spacing: -2%;
}

@mixin font-h-3-medium {
  // H 3/Medium //
  font-family: 'Inter';
  font-weight: 500;
  font-size: 48px;
  line-height: 116.67%;
  text-decoration: none;
  letter-spacing: -2%;
}

@mixin font-h-3-semibold {
  // H 3/Semibold //
  font-family: 'Inter';
  font-weight: 400;
  font-size: 48px;
  line-height: 116.67%;
  text-decoration: none;
  letter-spacing: -2%;
}

@mixin font-h-3-bold {
  // H 3/Bold //
  font-family: 'Inter';
  font-weight: 700;
  font-size: 48px;
  line-height: 116.67%;
  text-decoration: none;
  letter-spacing: -2%;
}

@mixin font-h-4-regular {
  // H 4/Regular //
  font-family: 'Inter';
  font-weight: 400;
  font-size: 36px;
  line-height: 122.22%;
  text-decoration: none;
  letter-spacing: -2%;
}

@mixin font-h-4-medium {
  // H 4/Medium //
  font-family: 'Inter';
  font-weight: 500;
  font-size: 36px;
  line-height: 122.22%;
  text-decoration: none;
  letter-spacing: -2%;
}

@mixin font-h-4-semibold {
  // H 4/Semibold //
  font-family: 'Inter';
  font-weight: 400;
  font-size: 36px;
  line-height: 122.22%;
  text-decoration: none;
  letter-spacing: -2%;
}

@mixin font-h-4-bold {
  // H 4/Bold //
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  line-height: 122.22%;
  text-decoration: none;
  letter-spacing: -2%;
}

@mixin font-h-5-regular {
  // H 5/Regular //
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  line-height: 125%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-h-5-medium {
  // H 5/Medium //
  font-family: 'Inter';
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-h-5-semibold {
  // H 5/Semibold //
  font-family: 'Inter';
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-h-5-bold {
  // H 5/Bold //
  font-family: 'Inter';
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-h-6-regular {
  // H 6/Regular //
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  line-height: 133.33%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-h-6-medium {
  // H 6/Medium //
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 133.33%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-h-6-semibold {
  // H 6/Semibold //
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  line-height: 133.33%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-h-6-bold {
  // H 6/Bold //
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 133.33%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-body-1-regular {
  // Body 1/Regular //
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-body-1-medium {
  // Body 1/Medium //
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-body-1-semibold {
  // Body 1/Semibold //
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-body-1-bold {
  // Body 1/Bold //
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-body-1-condensed-regular {
  // Body 1 Condensed/Regular //
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-body-1-condensed-medium {
  // Body 1 Condensed/Medium //
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-body-1-condensed-semibold {
  // Body 1 Condensed/Semibold //
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-body-1-condensed-bold {
  // Body 1 Condensed/Bold //
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-body-2-regular {
  // Body 2/Regular //
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 142.86%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-body-2-medium {
  // Body 2/Medium //
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 142.86%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-body-2-semibold {
  // Body 2/Semibold //
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  line-height: 142.86%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-body-2-bold {
  // Body 2/Bold //
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  line-height: 142.86%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-body-2-condensed-regular {
  // Body 2 Condensed/Regular //
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 114.29%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-body-2-condensed-medium {
  // Body 2 Condensed/Medium //
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 114.29%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-body-2-condensed-semibold {
  // Body 2 Condensed/Semibold //
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  line-height: 114.29%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-body-2-condensed-bold {
  // Body 2 Condensed/Bold //
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  line-height: 114.29%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-small-regular {
  // Small/Regular //
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 133.33%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-small-medium {
  // Small/Medium //
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 133.33%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-small-semibold {
  // Small/Semibold //
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 133.33%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-small-bold {
  // Small/Bold //
  font-family: 'Inter';
  font-weight: 700;
  font-size: 12px;
  line-height: 133.33%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-uppercase-regular {
  // UPPERCASE/Regular //
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 133.33%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-uppercase-medium {
  // UPPERCASE/Medium //
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 133.33%;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-uppercase-semibold {
  // UPPERCASE/Semibold //
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 133.33%;
  text-decoration: none;
  letter-spacing: normal;
  text-transform: uppercase;
}

@mixin font-uppercase-bold {
  // UPPERCASE/Bold //
  font-family: 'Inter';
  font-weight: 700;
  font-size: 12px;
  line-height: 133.33%;
  text-decoration: none;
  letter-spacing: normal;
}
