@import "typography";
@import "constants";

div.header {
  height: fit-content;

  padding-top: $colored-form-padding;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $form-gap;
  align-self: stretch;

  div.texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $form-gap / 2;
    align-self: stretch;

    h1.title,
    span.subtitle {
      align-self: stretch;
      margin: 0;

      text-align: center;
    }

    h1.title {
      color: var(--Gray-900, #101828);
      
      @include font-h-5-semibold;
    }

    span.subtitle {
      color: var(--Gray-500, #667085);
      
      @include font-body-2-regular;
    }
  }
}
