<app-modal
  [modalInformation]="{
    title: 'Настройки',
    iconSrc: 'assets/svg/settings-modal/settings\.svg'
  }"
  [menyValues]="{
    'general-settings': {
      title: 'Общие настройки',
      iconSrc: 'assets/svg/settings-modal/general\.svg',
      templateValue: m_generalSettingsTemplate
    },
    'account-settings': {
      title: 'Аккаунт',
      iconSrc: 'assets/svg/settings-modal/account\.svg',
      templateValue: m_accountSettingsTemplate
    }
  }"
  (modalHide)="m_settingsModalHide()"
>
</app-modal>

<ng-template #m_generalSettingsTemplate>
  <main class="general-settings">
    <div class="photo-block">
      <div class="photo"></div>
      <div class="change-photo">
        <app-button
          [button]="{
            text: 'Изменить фото',
            icon: {
              src: 'assets/svg/settings-modal/edit\.svg'
            },
            class: ['btn', 'small', 'btn-secondary-gray']
          }"
        ></app-button>
        <app-button
          [button]="{
            icon: {
              src: 'assets/svg/settings-modal/trash\.svg'
            },
            class: ['btn', 'small', 'btn-secondary-gray']
          }"
        ></app-button>
      </div>
    </div>
    <hr />
    <div class="name-change">
      <app-input-with-label
        [inputWithLabel]="m_lastNameInput"
        class="last-name"
      ></app-input-with-label>
      <app-input-with-label
        [inputWithLabel]="m_firstNameInput"
        class="first-name"
      ></app-input-with-label>
    </div>
    <app-input-with-toggle-and-label
      [inputWithToggleAndLabel]="m_dateOfBirthInput"
      class="date-of-birth-change"
    ></app-input-with-toggle-and-label>
    <app-input-with-label
      [inputWithLabel]="m_locationInput"
      class="location-change"
    ></app-input-with-label>
    <app-input-with-label
      [inputWithLabel]="m_specialityInput"
      class="speciality-change"
    ></app-input-with-label>
    <app-toggle-button
      [toggle]="m_searchingForWorkToggle"
      class="searching-for-work-change"
    ></app-toggle-button>
  </main>
</ng-template>

<ng-template #m_accountSettingsTemplate>
  <main class="account">
    <app-toggle-button [toggle]="m_isPrivateToggle" class="is-private"></app-toggle-button>
    <div class="email-change">
      <div class="header">
        <span class="title">Email</span>
        <button>
          <img src="assets/svg/settings-modal/edit.svg" alt="edit button" />
        </button>
      </div>
      <span class="current-email">zhur06&#64;gmail.com</span>
    </div>
    <app-input-with-toggle-and-label
      [inputWithToggleAndLabel]="m_phoneChangeInput"
      class="phone-change"
    ></app-input-with-toggle-and-label>
    <hr />
    <app-button
      [button]="{
        text: 'Удалить аккаунт',
        class: ['btn', 'btn-tertiary', 'grow']
      }"
      class="delete-account"
    ></app-button>
  </main>
</ng-template>
