@import 'typography';

$content-size: 550px;

.waiting,
.loader {
  position: relative;
  width: $content-size;
  height: $content-size;

  img {
    width: 46px;
    height: 46px;

    position: absolute;
    top: calc($content-size / 2) - calc(46px / 2);
    left: calc($content-size / 2) - calc(46px / 2);

    padding: 4px;

    background: var(--Gray-100, #f2f4f7);

    border: 6px solid var(--Gray-50, #f9fafb);
    border-radius: 50%;
  }

  .controls {
    position: relative;
    display: flex;

    flex-direction: column;
    align-items: center;
    gap: 24px;

    width: 544px;

    top: calc(($content-size + 46px) / 2) + 20px;
    left: calc($content-size / 2) - 272px;

    .texts {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      .title {
        margin: 0;

        color: var(--Gray-900, #101828);

        @include font-body-1-semibold;
      }

      .support {
        text-align: center;
        color: var(--Gray-500, #667085);

        @include font-small-regular;
      }
    }
  }
}

.loader {
  .logo {
    width: 40px;
    height: 40px;

    position: absolute;
    top: calc($content-size / 2) - calc(40px / 2);
    left: calc($content-size / 2) - calc(40px / 2);

    overflow: hidden;

    border-radius: 8px;

    $animation-duration: 2s;

    @keyframes move-left {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(-100%);
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      background: var(--Accent-700, #6941c6);
      border-radius: 50%;
      animation-duration: $animation-duration;
      animation-iteration-count: infinite;
      animation-name: move-left;
      animation-timing-function: linear;
    }

    &::after {
      animation-delay: calc((-1 * $animation-duration) / 4);
    }

    &::before {
      animation-delay: calc((-3 * $animation-duration) / 4);
    }
  }
}

.result {
  position: relative;
  width: 100%;
  height: 100%;

  .content {
    position: relative;
    display: flex;

    flex-direction: column;
    gap: 48px;
    align-items: center;

    width: 100%;
    height: 100%;

    z-index: 110;

    .user-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      .photo {
        width: 100px;
        height: 100px;

        border-radius: 50%;
        background: hotpink;
      }

      .texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

        .name {
          margin: 0;

          color: var(--Gray-700, #344054);

          @include font-h-6-semibold;
        }

        .speciality {
          margin: 0;

          color: var(--Gray-500, #667085);

          @include font-body-1-condensed-regular;
        }
      }
    }

    .possibilities {
      display: flex;
      gap: 40px;
      align-items: end;

      flex-grow: 1;

      .probability {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
        justify-content: end;
        height: 100%;

        .visualisator {
          border-radius: 8px 8px 0 0;
          width: 48px;
          height: calc(100% * var(--percent-rate, 0) / var(--max-percent-rate, 100));
        }

        &.first-probable {
          .visualisator {
            background: var(--Green-300, #6ce9a6);
          }
        }

        &.second-probable {
          .visualisator {
            background: var(--Orange-300, #feb273);
          }
        }

        &.third-probable {
          .visualisator {
            background: var(--Red-300, #fda29b);
          }
        }

        .amount {
          margin: 0;

          color: var(--Gray-900, #101828);

          @include font-body-1-condensed-semibold;
        }

        .percent-rate {
          margin: 0;

          color: var(--Gray-500, #667085);

          @include font-body-1-condensed-regular;
        }
      }
    }

    .warning-message {
      display: flex;
      gap: 8px;

      padding: 12px;

      border-radius: 8px;
      background: var(--Blue-50, #eff8ff);

      .message {
        @include font-body-1-regular;
      }

      img {
        width: 24px;
        height: 24px;
      }

      .close {
        padding: 4px;
      }
    }
  }
}
