<div class="input-area">
  @if (inputWithToggleAndLabel().title) {
    <label for="{{ inputWithToggleAndLabel().input.name }}" [ngClass]="m_labelClass()">{{
      inputWithToggleAndLabel().title
    }}</label>
  }
  <app-input class="input-container" [inputContent]="inputWithToggleAndLabel().input"></app-input>
  @if (inputWithToggleAndLabel().invalid) {
    @if (inputWithToggleAndLabel().hasError('incorrectEmail')) {
      <span class="error" [ngClass]="inputWithToggleAndLabel().class">{{
        'Email должен содержать символ «@» и имя домена'
      }}</span>
    }
  }
</div>

<div class="toggle-button-area">
  <app-toggle-button [toggle]="inputWithToggleAndLabel().toggle"></app-toggle-button>
  <span>{{ inputWithToggleAndLabel().toggleTitle }}</span>
</div>
