@import "typography";

.certificates {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;

  .certificate {
    display: flex;
    flex-direction: column;
    gap: 8px;

    div.head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      div.title {
        display: flex;
        flex-direction: row;
        gap: 12px;

        span {
          display: flex;

          @include font-body-1-semibold;
        }

        .organization {
          color: var(--Accent-700, #6941c6);
        }
      }
    }

    a.link {
      color: var(--Blue-700, #175cd3);

      @include font-body-1-condensed-medium;
    }
  }
}
