span.support-text {
  display: flex;
  align-self: stretch;
  color: var(--Gray-500, #667085);
  text-align: center;
  /* Body 2/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
