<app-cv-block-appearence title="Достижения" class="cv-block" [ngClass]="size()">
  <div class="achievements()" [ngClass]="size()">
    @for (achievement of achievements(); track $index) {
      <div class="achievement">
        <div class="head">
          <span class="title">{{ achievement.title }}</span>
          <app-badge color="gray">{{ achievement.year }}</app-badge>
        </div>
        <a class="link" href="{{ achievement.link }}">Ссылка</a>
      </div>
    }
  </div>
</app-cv-block-appearence>
