@import "typography";

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: baseline;

  @include font-body-2-condensed-medium;
}

input[type=text] {
  display: flex;
  height: 40px;
  padding: 8px 12px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Gray-100, #f2f4f7);
  border: none;

  @include font-body-2-medium;
}

input.error {
  border: 1px solid var(--Red-400, #f97066) !important;
}

span.error {
  color: var(--Red-500, #f04438);
  align-self: stretch;

  @include font-body-2-condensed-medium;
}

input[type=checkbox] {
  appearance: auto;
  -webkit-appearance: auto;
}
