<div class="input-area">
  @if (inputWithCheckboxAndLabel.inputTitle) {
    <label
      for="{{ inputWithCheckboxAndLabel.inputName }}"
      [ngClass]="inputWithCheckboxAndLabel.class"
      >{{ inputWithCheckboxAndLabel.inputTitle }}</label
    >
  }
  <input
    [formControl]="inputWithCheckboxAndLabel.form"
    [ngClass]="inputClass"
    type="text"
    placeholder="{{ inputWithCheckboxAndLabel.inputPlaceholder }}"
  />
  @if (inputWithCheckboxAndLabel.isInvalid) {
    @if (inputWithCheckboxAndLabel.hasError("incorrectEmail")) {
      <span class="error" [ngClass]="inputWithCheckboxAndLabel.class">{{
        "Email должен содержать символ «@» и имя домена"
      }}</span>
    }
  }
</div>

<div class="toggle-button-area">
  <app-toggle-button></app-toggle-button>
  <span>{{ inputWithCheckboxAndLabel.checkboxTitle }}</span>
</div>
