<app-header></app-header>
<div class="content">
  <app-general-block></app-general-block>
  <div class="cv-blocks">
    <app-about-block></app-about-block>
    <app-skills-block></app-skills-block>
    <app-experience-block></app-experience-block>
    <app-projects-block></app-projects-block>
    <app-education-block></app-education-block>
    <app-achievements-block></app-achievements-block>
    <app-recomendations-block></app-recomendations-block>
    <app-languages-block></app-languages-block>
  </div>
</div>
