<app-header></app-header>
<div class="content">
  <app-general-block
    [badge]="{ text: 'Ищу работу', class: ['orange'] }"
    [personInformation]="{
      name: 'Александр Журавлев',
      age: '17 лет',
      location: 'Москва'
    }"
    [specializationInformation]="{
      name: 'Frontend разработчик',
      graid: 'Junior'
    }"
    [contacts]="{ email: 'zhur06\@gmail\.com', phone: '+7 (999) 123-45-67' }"
  ></app-general-block>
  <div class="cv-blocks">
    <app-about-block></app-about-block>
    <app-employment-block [items]="['Удаленка', 'Офис', 'Гибрид']"></app-employment-block>
    <app-skills-block></app-skills-block>
    <app-experience-block></app-experience-block>
    <app-projects-block></app-projects-block>
    <app-education-block></app-education-block>
    <app-achievements-block></app-achievements-block>
    <app-recomendations-block></app-recomendations-block>
    <app-languages-block></app-languages-block>
  </div>
</div>
