<app-header></app-header>
<div class="content" [ngClass]="m_currentBreakpoint">
  <app-general-block
    class="general-block"
    status="Ищу работу"
    [personInformation]="{
      name: 'Александр Журавлев',
      age: '17 лет',
      location: 'Москва'
    }"
    [specializationInformation]="{
      name: 'Frontend разработчик',
      graid: 'Junior'
    }"
    [contacts]="{ email: 'zhur06\@gmail\.com', phone: '+7 (999) 123-45-67' }"
    [size]="m_currentBreakpoint"
  ></app-general-block>
  <div class="cv-blocks">
    <app-about-block
      text="Я Жура, ученик школы №179. Увлекаюсь программированием, в особенности веб-разработкой. Я разрабатываю фронтенд для этого сайта"
      [size]="m_currentBreakpoint"
      class="cv-block"
    ></app-about-block>
    <app-employment-block
      [items]="['Удаленка', 'Офис', 'Гибрид']"
      [size]="m_currentBreakpoint"
      class="cv-block"
    ></app-employment-block>
    <app-salary-block
      [salaryRange]="[240000, 260000]"
      [currency]="'₽'"
      [size]="m_currentBreakpoint"
      class="cv-block"
    ></app-salary-block>
    <app-skills-block
      [skills]="['HTML', 'CSS', 'JavaScript', 'Angular', 'TypeScript']"
      [size]="m_currentBreakpoint"
      class="cv-block"
    ></app-skills-block>
    <app-experience-block
      [previousExperiences]="[
        {
          title: 'Frontend разработчик',
          company: '\@circleus',
          startDate: 'Ноябрь 2023',
          description: 'Разрабатывал данный сайт на Angular'
        },
        {
          title: 'Team Lead, Frontend разработчик',
          company: '\@179dev',
          startDate: 'Сентябрь 2023',
          endDate: 'Ноябрь 2023',
          description:
            'Руководил командой разработки онлайн-менеджера досок\. Так же отвечал за фронтенд'
        }
      ]"
      [size]="m_currentBreakpoint"
      class="cv-block"
    ></app-experience-block>
    <app-projects-block
      [projects]="[
        {
          title: 'Laterem',
          description: 'Платформа для обучения',
          startDate: 'Сентябрь 2022',
          endDate: 'Май 2023'
        },
        {
          title: 'SQL-Teacher',
          description: 'Интерактивный курс для изучения SQL',
          startDate: 'Сентябрь 2022',
          endDate: 'Декабрь 2022'
        }
      ]"
      [size]="m_currentBreakpoint"
      class="cv-block"
    ></app-projects-block>
    <app-education-block
      [educations]="[
        {
          title: 'МГТУ им. Н.Э. Баумана',
          stage: 'Бакалавр',
          speciality: 'Информационные системы и технологии',
          year: '2024'
        },
        {
          title: 'Московский Энергетический Институт',
          stage: 'Магистр',
          speciality: 'Прикладная информатика',
          year: '2030'
        }
      ]"
      [size]="m_currentBreakpoint"
      class="cv-block"
    ></app-education-block>
    <app-certificates-block
      [certificates]="[
        {
          title: 'Участник кейс-каникул',
          organization: '\@croc',
          link: 'https\://github\.com/zhur06',
          year: '2023'
        },
        {
          title: 'Выпускник Школы ИТ-Решений',
          organization: '\@croc',
          link: 'https\://github\.com/zhur06',
          year: '2023'
        }
      ]"
      [size]="m_currentBreakpoint"
      class="cv-block"
    ></app-certificates-block>
    <app-achievements-block
      [achievements]="[
        {
          title: 'Лучший фронтендер',
          year: '2023',
          link: 'https\://github\.com/zhur06'
        },
        {
          title: 'Лучший фронтендер',
          year: '2024',
          link: 'https\://github\.com/zhur06'
        }
      ]"
      [size]="m_currentBreakpoint"
      class="cv-block"
    ></app-achievements-block>
    <app-recomendations-block
      [recomendations]="[
        {
          source: 'Михаил Сердюк',
          sourceTag: '\@mk_serdyk',
          text: 'Тимлид, успешно руководвший нашей командой и разрабтывавший фронт\. Ответственно относится к срокам и изучает новые технологии если потребуется'
        },
        {
          source: 'Иван Спайд',
          sourceTag: '\@spidz',
          text: 'В прошлом знаменитый певец, любящий отец в настоящем готов на цифровые подвиги в мире информационных АйТи технологий!! Выкупает за хайповые строки и могёт в архитектуру без единого гвоздя 😎 Отлично подходит для хорошего вечера!'
        }
      ]"
      [size]="m_currentBreakpoint"
      class="cv-block"
    ></app-recomendations-block>
    <app-languages-block
      [languages]="[
        {
          name: 'Русский',
          level: 'Носитель'
        },
        {
          name: 'Английский',
          level: 'Upper intermediate (B2)'
        },
        {
          name: 'Немецкий',
          level: 'Elementary (A2)'
        }
      ]"
      [size]="m_currentBreakpoint"
      class="cv-block"
    ></app-languages-block>
  </div>
  <app-tool-button></app-tool-button>
  <app-research-modal></app-research-modal>
</div>
