@import "effects/shadows";
@import "typography";

main {
  display: grid;
  width: 708px;
  gap: 12px;
  grid-template:
    "person-info specialization-info specialization-info" 104px
    "person-info contacts links" 156px / 300px 1fr 156px;

  .plate {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    border-radius: 12px;
    background: var(--White, #fff);

    @include shadow-sm;
  }

  .plate.person-info {
    grid-area: person-info;

    gap: 16px;

    .head {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      align-self: stretch;

      .photo {
        width: 80px;
        height: 80px;

        border-radius: 200px;

        @include shadow-sm;

        background-color: hotpink;
      }

      .badge {
        display: flex;
        align-items: flex-start;

        mix-blend-mode: multiply;

        .badge-component {
          display: flex;
          padding: 4px 12px;
          justify-content: center;
          align-items: center;

          border-radius: 16px;
          background: var(--Orange-50, #FFF6ED);

          color: var(--Orange-700, #C4320A);
          text-align: center;

          @include font-body-2-condensed-medium;
        }
      }
    }

    .name {
      flex: 1 0 0;
      align-self: stretch;

      color: var(--Gray-700, #344054);
      text-overflow: ellipsis;
      white-space: nowrap;

      @include font-h-6-semibold;
    }

    .foot {
      display: flex;
      align-items: flex-start;
      gap: 8px;

      color: var(--Gray-500, #667085);

      @include font-body-1-condensed-medium;

      .separator {
        color: var(--Gray-300, #D0D5DD);
      }
    }
  }

  .plate.specialization-info {
    grid-area: specialization-info;

    .specialization-name {
      overflow: hidden;
      color: var(--Gray-700, #344054);
      text-overflow: ellipsis;

      @include font-h-6-semibold;
    }

    .graid {
      color: var(--Gray-500, #667085);

      @include font-body-2-condensed-medium;
    }
  }

  .plate.contacts-plate {
    grid-area: contacts;

    .title {
      color: var(--Gray-500, #667085);

      @include font-uppercase-semibold;
    }

    .contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      align-self: stretch;

      span {
        display: flex;
        padding: 2px 0px;
        flex-direction: column;
        align-items: flex-start;

        overflow: hidden;
        color: var(--Blue-700, #175CD3);
        text-overflow: ellipsis;

        @include font-body-1-condensed-medium;
      }
    }
  }

  .plate.links {
    grid-area: links;
  }
}
