@import "effects/shadows";
@import "typography";

main {
  gap: 12px;

  .plate {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    border-radius: 12px;
    background: var(--White, #fff);

    @include shadow-sm;
  }

  .plate.person-info {
    gap: 16px;

    .head {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      align-self: stretch;

      .photo {
        width: 80px;
        height: 80px;

        border-radius: 200px;

        @include shadow-sm;

        background-color: hotpink;
      }

      .badge {
        display: flex;
        align-items: flex-start;

        mix-blend-mode: multiply;
      }
    }

    .name {
      flex: 1 0 0;
      align-self: stretch;

      color: var(--Gray-700, #344054);
      text-overflow: ellipsis;
      white-space: nowrap;

      @include font-h-6-semibold;
    }

    .foot {
      display: flex;
      align-items: flex-start;
      gap: 8px;

      color: var(--Gray-500, #667085);

      @include font-body-1-condensed-medium;

      .separator {
        color: var(--Gray-300, #d0d5dd);
      }
    }
  }

  .plate.specialization-info {
    .specialization-name {
      overflow: hidden;
      color: var(--Gray-700, #344054);
      text-overflow: ellipsis;

      @include font-h-6-semibold;
    }

    .graid {
      color: var(--Gray-500, #667085);

      @include font-body-2-condensed-medium;
    }
  }

  .plate.contacts-plate {
    .title {
      color: var(--Gray-500, #667085);

      @include font-uppercase-semibold;
    }

    .contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      align-self: stretch;

      span {
        display: flex;
        padding: 2px 0px;
        flex-direction: column;
        align-items: flex-start;

        overflow: hidden;
        color: var(--Blue-700, #175cd3);
        text-overflow: ellipsis;

        @include font-body-1-condensed-medium;
      }
    }
  }
}

main.large,
main.medium {
  display: grid;
  width: 708px;
  grid-template:
    "person-info specialization-info specialization-info" 104px
    "person-info contacts links" 156px / 300px 1fr 156px;

  .plate.person-info {
    grid-area: person-info;
  }

  .plate.specialization-info {
    grid-area: specialization-info;
  }

  .plate.contacts-plate {
    grid-area: contacts;
  }

  .plate.links {
    grid-area: links;
  }
}

main.small,
main.x_small {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}
