<main>
  <div class="person-info">
    <div class="head">
      <div class="photo"></div>
      <div class="badge">
        <div class="badge-component">Ищу работу</div>
      </div>
    </div>
    <div class="name">Дёмин Константин</div>
    <div class="foot">
      <div class="age">27 лет</div>
      <div class="separator">•</div>
      <div class="location">Москва</div>
    </div>
  </div>
  <div class="specialization-info">
    <div class="specialization-name"></div>
    <div class="graid"></div>
  </div>
  <div class="contacts">
    <div class="title"></div>
    <div class="email"></div>
    <div class="phone"></div>
  </div>
  <div class="links"></div>
</main>
