<main>
  <div class="plate person-info">
    <div class="head">
      <div class="photo"></div>
      <div class="badge">
        <app-badge
          [badge]="{ text: 'Ищу работу', class: ['orange'] }"
        ></app-badge>
      </div>
    </div>
    <div class="name">Дёмин Константин</div>
    <div class="foot">
      <span class="age">27 лет</span>
      <span class="separator">•</span>
      <span class="location">Москва</span>
    </div>
  </div>
  <div class="plate specialization-info">
    <span class="specialization-name">Дизайнер интерфейсов</span>
    <span class="graid">Senior</span>
  </div>
  <div class="plate contacts-plate">
    <span class="title">Свяжитесь со мной</span>
    <div class="contacts">
      <span class="email">k.demin&#64;mail.ru</span>
      <span class="phone">+7 (925) 123-45-67</span>
    </div>
  </div>
  <div class="plate links"></div>
</main>
