<div class="background"></div>

<main>
  <div class="navigation">
    <div class="header"></div>
    <div class="body">
      @for (menyOption of m_iterableMenyValues(); track $index) {
        <button
          type="button"
          class="element"
          [ngClass]="{ active: menyOption.name === m_activeOption() }"
          (click)="m_changeActiveOption(menyOption.name)"
        >
          <img src="{{ menyOption.iconSrc }}" alt="icon" />
          <span>{{ menyOption.title }}</span>
        </button>
      }
    </div>
  </div>
  <div class="content">
    <div class="header"></div>
    <div class="body">
      <ng-template [ngTemplateOutlet]="menyValues()[m_activeOption()].templateValue"></ng-template>
    </div>
  </div>
</main>
