<div class="background"></div>

<main>
  <div class="navigation">
    <div class="header">
      <div class="icon">
        <img src="{{ modalInformation().iconSrc }}" alt="icon" />
      </div>
      <h2 class="title">{{ modalInformation().title }}</h2>
    </div>
    <div class="body">
      @for (menyOption of m_iterableMenyValues(); track $index) {
        <button
          type="button"
          class="element"
          [ngClass]="{ active: menyOption.name === m_activeOptionName() }"
          (click)="m_changeActiveOption(menyOption.name)"
        >
          <img src="{{ menyOption.iconSrc }}" alt="icon" />
          <span>{{ menyOption.title }}</span>
        </button>
      }
    </div>
    <div class="footer">
      @if (modalInformation().hasLeaveButton) {
        <app-button
          class="leave-button"
          [button]="{
            text: 'Выйти',
            icon: {
              src: 'assets/svg/modal/leave.svg'
            },
            class: ['btn', 'btn-tertiary-red', 'grow', 'justify-content-start']
          }"
          (click)="m_modalHide()"
        ></app-button>
      }
    </div>
  </div>
  <div class="content">
    <div class="header">
      <h2 class="title">{{ menyValues()[m_activeOptionName()].title }}</h2>
      <button class="close-button" (click)="m_modalHide()">
        <img src="assets/svg/modal/close.svg" alt="close button" />
      </button>
    </div>
    <div class="body">
      <ng-template
        [ngTemplateOutlet]="menyValues()[m_activeOptionName()].templateValue"
      ></ng-template>
    </div>
  </div>
</main>
