@import '../my-possibility.component.scss';

$ellipse-start-size: 150px;
$ellipse-step: 100px;

.ellipse {
  border-radius: 50%;
  border: 1px var(--Gray-200, #eaecf0);
  border-style: dashed;

  position: absolute;
}

@mixin ellipse($ellipse-size) {
  width: $ellipse-size;
  height: $ellipse-size;
  top: calc($content-size / 2) - calc($ellipse-size / 2);
  left: calc($content-size / 2) - calc($ellipse-size / 2);
}

.ellipse:nth-child(-6n + 8) {
  $ellipse-size: $ellipse-start-size * 4;
  @include ellipse($ellipse-size);
}

.ellipse:nth-child(-6n + 9) {
  $ellipse-size: $ellipse-start-size + $ellipse-step * 3;
  @include ellipse($ellipse-size);
}

.ellipse:nth-child(-6n + 10) {
  $ellipse-size: $ellipse-start-size + $ellipse-step * 2;
  @include ellipse($ellipse-size);
}

.ellipse:nth-child(-6n + 11) {
  $ellipse-size: $ellipse-start-size + $ellipse-step;
  @include ellipse($ellipse-size);
}

.ellipse:nth-child(-6n + 12) {
  $ellipse-size: $ellipse-start-size;
  @include ellipse($ellipse-size);
}
