@import "typography";

.badge {
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;

  border-radius: 16px;

  text-align: center;

  @include font-body-2-condensed-medium;
}

.badge.gray {
  background: var(--Gray-100, #f2f4f7);
  color: var(--Gray-700, #344054);
}

.badge.accent {
  background: var(--Accent-50, #f9f5ff);
  color: var(--Accent-700, #6941c6);
}

.badge.red {
  background: var(--Red-50, #fef3f2);
  color: var(--Red-700, #b42318);
}

.badge.yellow {
  background: var(--Yellow-50, #fffaeb);
  color: var(--Yellow-700, #b54708);
}

.badge.green {
  background: var(--Green-50, #ecfdf3);
  color: var(--Green-700, #027a48);
}

.badge.blue-gray {
  background: var(--Blue-gray-50, #f8f9fc);
  color: var(--Blue-gray-700, #363f72);
}

.badge.blue {
  background: var(--Blue-50, #eff8ff);
  color: var(--Blue-700, #175cd3);
}

.badge.indigo {
  background: var(--Indigo-50, #eef4ff);
  color: var(--Indigo-700, #3538cd);
}

.badge.purple {
  background: var(--Purple-50, #f4f3ff);
  color: var(--Purple-700, #5925dc);
}

.badge.pink {
  background: var(--Pink-50, #fdf2fa);
  color: var(--Pink-700, #c11574);
}

.badge.orange {
  background: var(--Orange-50, #fff6ed);
  color: var(--Orange-700, #c4320a);
}
